# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

In this project exercise I will use related data sets related to Coronavirus (Covid-19) Data for analysis. I will use four datasets with:<br>
Data set with files ".csv":<br>
    1.File: us_states_covid19_daily.csv.<br>
         Link to download file: https://www.kaggle.com/code/sudalairajkumar/covid-19-analysis-of-usa/input?select=us_states_covid19_daily.csv<br>
    2.File us_state_vaccinations.csv.<br>
         Link to download file: https://www.kaggle.com/code/paultimothymooney/usa-states-vaccination-rates/input?select=us_state_vaccinations.csv<br>
Is it possible to combine these data sets into one dataset<br>ta set?

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import zipfile
import requests
import os
import seaborn as sb
%matplotlib inline

#### Dataset 1: 
File name        : us_states_covid19_daily.csv.<br>
Type             : CSV File.<br>
Objective        : Objective of this notebook is to explore the COVID-19 data of US and its states.<br>
Method           : The data was gathered using the "Download data manually" method from "www.kaggle.com" source.<br>
About this file  : Daily level information of COVID-19 tests in US.<br>
Dataset variables:<br>
*   *date    : Date of observation.*
*   *state   : Number of states with covid-19 cases.*
*   *positive: Number of tests with positive result.*
*   *negative: Number of tests with negative result.*
*   *pending : Number of tests with positive & negative result.*
*   *hospitalizedCurrently: Number of tests with pending result.*
*   *hospitalizedCumulative: Number of hospitalized cases.*
*   *inIcuCurrently: Number of death cases.*
*   *inIcuCumulative: Total number of test taken.*
*   *onVentilatorCurrently: Date checked.*
*   *onVentilatorCumulative: Total number of tests with results.*
*   *recovered: Number of new deaths in las
*   *dataQualityGrade: Data quality grade.*
*   *lastUpdateEt: Last update date.*t one day.*
*   *hash: Number of new hospitalized cases in last one day.*
*   *dateChecked: Number of new negative test results in last one day.*
*   *death: Number of new positive test results in last one day.*
*   *hospitalized: Number of new total test results in last one day.*
*   *fips  : Codes for States and Counties.*
*   *total, totalTestResults, posNeg, fips, deathIncrease, hospitalizedIncrease, negativeIncrease, positiveIncrease, totalTestResultsIncrease* and probable.N*

In [12]:
#FILL IN 1st data gathering and loading method
df_us_covid19 = pd.read_csv('us_states_covid19_daily.csv')
df_us_covid19

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,AK,467.0,53723.0,NaN,10.0,NaN,NaN,NaN,1.0,...,NaN,54190,54190,54190,2,0.0,0.0,2462.0,33.0,2495.0
1,20200601,AL,18363.0,205160.0,NaN,NaN,1856.0,NaN,591.0,NaN,...,1856.0,223523,223523,223523,1,15.0,12.0,5510.0,460.0,5970.0
2,20200601,AR,7443.0,125793.0,NaN,115.0,711.0,NaN,NaN,27.0,...,711.0,133236,133236,133236,5,0.0,0.0,3531.0,190.0,3721.0
3,20200601,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174,174,174,60,0.0,0.0,0.0,0.0,0.0
4,20200601,AZ,20123.0,207947.0,NaN,968.0,3018.0,377.0,NaN,238.0,...,3018.0,228070,228070,228070,4,11.0,20.0,2677.0,187.0,2864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4941,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4942,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4943,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4944,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,NaN,NaN,NaN,NaN,NaN

#### Dataset 2: 
File name        : us_state_vaccinations.csv.<br>
Type             : CSV File.<br>
Objective        : Vaccination rate affects the number of cases per day.<br>
Method           : Use the Request library to download the us_state_vaccinations.csv file from the URL "https://covid.ourworldindata.org/data/vaccinations/us_state_vaccinations.csv".<br>
About this file  : State-by-state data on COVID-19 vaccinations in the United States.<br>
Dataset variables:
*
*   *Date - date for the data entry; for some of the dates we have only the daily vaccinations, for others, only the (cumulative) total;*
*   *Total number of vaccinations - this is the absolute number of total immunizations in the country;*
*   *Total number of people vaccinated - a person, depending on the immunization scheme, will receive one or more (typically 2) vaccines; at a certain moment, the number of vaccination might be larger than the number of people;*
*   *Total number of people fully vaccinated - this is the number of people that received the entire set of immunization according to the immunization scheme (typically 2); at a certain moment in time, there might be a certain number of people that received one vaccine and another number (smaller) of people that received all vaccines in the scheme;hDaily vaccinations (raw) - for a certain data entry, the number of vaccination for that date/country;*
*   *Daily vaccinations - for a certain data entry, the number of vaccination for that date/country;*
*   *Total vaccinations per hundred - ratio (in percent) between vaccination number and total population up to the date in the country;*
*   *Total number of people vaccinated per hundred - ratio (in percent) between population immunized and total population up to the date in the country;*
*   *Total number of people fully vaccinated per hundred - ratio (in percent) between population fully immunized and total population up to the date in the country;*
*   *Number of vaccinations per day - number of daily vaccination for that day and country;*
*   *Daily vaccinations per million - ratio (in ppm) between vaccination number and total population for the current date in the country;*
*   *Vaccines used in the country - total number of vaccines used in the country (up to date);*
*   *Source name - source of the information (national authority, international organization, local al organization *   *etc*.*   *);
Source website - website of the soure o informat**ion;e country;

In [13]:
response = requests.get("https://covid.ourworldindata.org/data/vaccinations/us_state_vaccinations.csv")

In [14]:
response.raise_for_status()

In [15]:
with open("us_state_vaccinations.tsv", "wb") as file:
    file.write(response.content)

In [16]:
data_vaccinations = pd.read_csv('us_state_vaccinations.tsv',sep=',')
data_vaccinations

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54623,2023-05-06,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,133.0,NaN,NaN,NaN
54624,2023-05-07,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,173.0,NaN,NaN,NaN
54625,2023-05-08,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,213.0,NaN,NaN,NaN
54626,2023-05-09,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,252.0,NaN,NaN,NaN
54627,2023-05-10,Wyoming,854132.0,1281755.0,353727.0,53.15,147.58,307619.0,61.12,221.47,NaN,170.0,294.0,0.666,219773.0,37.97

In [17]:
df_us_covid19.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,AK,467.0,53723.0,NaN,10.0,NaN,NaN,NaN,1.0,...,NaN,54190,54190,54190,2,0.0,0.0,2462.0,33.0,2495.0
1,20200601,AL,18363.0,205160.0,NaN,NaN,1856.0,NaN,591.0,NaN,...,1856.0,223523,223523,223523,1,15.0,12.0,5510.0,460.0,5970.0
2,20200601,AR,7443.0,125793.0,NaN,115.0,711.0,NaN,NaN,27.0,...,711.0,133236,133236,133236,5,0.0,0.0,3531.0,190.0,3721.0
3,20200601,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174,174,174,60,0.0,0.0,0.0,0.0,0.0
4,20200601,AZ,20123.0,207947.0,NaN,968.0,3018.0,377.0,NaN,238.0,...,3018.0,228070,228070,228070,4,11.0,20.0,2677.0,187.0,2864.0

In [18]:
#Optional: store the raw data in your local data store
df_covid19 = df_us_covid19.copy()
df_covid19

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,AK,467.0,53723.0,NaN,10.0,NaN,NaN,NaN,1.0,...,NaN,54190,54190,54190,2,0.0,0.0,2462.0,33.0,2495.0
1,20200601,AL,18363.0,205160.0,NaN,NaN,1856.0,NaN,591.0,NaN,...,1856.0,223523,223523,223523,1,15.0,12.0,5510.0,460.0,5970.0
2,20200601,AR,7443.0,125793.0,NaN,115.0,711.0,NaN,NaN,27.0,...,711.0,133236,133236,133236,5,0.0,0.0,3531.0,190.0,3721.0
3,20200601,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174,174,174,60,0.0,0.0,0.0,0.0,0.0
4,20200601,AZ,20123.0,207947.0,NaN,968.0,3018.0,377.0,NaN,238.0,...,3018.0,228070,228070,228070,4,11.0,20.0,2677.0,187.0,2864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4941,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4942,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4943,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4944,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,NaN,NaN,NaN,NaN,NaN

In [19]:
df_vaccinations = data_vaccinations.copy()
df_vaccinations

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54623,2023-05-06,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,133.0,NaN,NaN,NaN
54624,2023-05-07,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,173.0,NaN,NaN,NaN
54625,2023-05-08,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,213.0,NaN,NaN,NaN
54626,2023-05-09,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,252.0,NaN,NaN,NaN
54627,2023-05-10,Wyoming,854132.0,1281755.0,353727.0,53.15,147.58,307619.0,61.12,221.47,NaN,170.0,294.0,0.666,219773.0,37.97

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [20]:
df_covid19.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,AK,467.0,53723.0,NaN,10.0,NaN,NaN,NaN,1.0,...,NaN,54190,54190,54190,2,0.0,0.0,2462.0,33.0,2495.0
1,20200601,AL,18363.0,205160.0,NaN,NaN,1856.0,NaN,591.0,NaN,...,1856.0,223523,223523,223523,1,15.0,12.0,5510.0,460.0,5970.0
2,20200601,AR,7443.0,125793.0,NaN,115.0,711.0,NaN,NaN,27.0,...,711.0,133236,133236,133236,5,0.0,0.0,3531.0,190.0,3721.0
3,20200601,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174,174,174,60,0.0,0.0,0.0,0.0,0.0
4,20200601,AZ,20123.0,207947.0,NaN,968.0,3018.0,377.0,NaN,238.0,...,3018.0,228070,228070,228070,4,11.0,20.0,2677.0,187.0,2864.0

In [21]:
df_covid19.tail()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
4940,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4941,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4942,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4943,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4944,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,NaN,NaN,NaN,NaN,NaN

In [22]:
df_covid19.shape

(4945, 27)

In [23]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      4945 non-null   int64
 1   state                     4945 non-null   object
 2   positive                  4930 non-null   float64
 3   negative                  4737 non-null   float64
 4   pending                   827 non-null    float64
 5   hospitalizedCurrently     2454 non-null   float64
 6   hospitalizedCumulative    2211 non-null   float64
 7   inIcuCurrently            1290 non-null   float64
 8   inIcuCumulative           543 non-null    float64
 9   onVentilatorCurrently     1085 non-null   float64
 10  onVentilatorCumulative    186 non-null    float64
 11  recovered                 2272 non-null   float64
 12  dataQualityGrade          3844 non-null   object
 13  lastUpdateEt              4590 non-null   object
 14  hash                      4945 non-null   object
 15  dateChecked               4945 non-null   object
 16  death                     4219 non-null   float64
 17  hospitalized              2211 non-null   float64
 18  total                     4945 non-null   int64
 19  totalTestResults          4945 non-null   int64
 20  posNeg                    4945 non-null   int64
 21  fips                      4945 non-null   int64
 22  deathIncrease             4889 non-null   float64
 23  hospitalizedIncrease      4889 non-null   float64
 24  negativeIncrease          4889 non-null   float64
 25  positiveIncrease          4889 non-null   float64
 26  totalTestResultsIncrease  4889 non-null   float64
dtypes: float64(17), int64(5), object(5)
memory usage: 1.0+ MB

In [24]:
df_covid19.describe()

,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
count,4.945000e+03,4930.000000,4.737000e+03,827.000000,2454.000000,2211.000000,1290.000000,543.000000,1085.000000,186.000000,...,2211.000000,4.945000e+03,4.945000e+03,4.945000e+03,4945.000000,4889.000000,4889.000000,4889.000000,4889.000000,4889.000000
mean,2.020042e+07,13657.704260,8.717315e+04,1277.690447,1194.942135,3597.692447,520.434109,502.883978,278.065438,129.763441,...,3597.692447,9.733637e+04,9.712269e+04,9.712269e+04,32.353286,20.250562,44.075885,3180.447740,368.101248,3546.644099
std,8.418741e+01,37420.491067,1.757837e+05,6681.757973,2241.602704,12108.291736,799.715019,453.486977,388.392845,84.015880,...,12108.291736,2.022291e+05,2.022180e+05,2.022180e+05,18.636489,60.911751,335.394071,7017.486835,854.250820,7435.622433
min,2.020012e+07,0.000000,0.000000e+00,0.000000,1.000000,0.000000,2.000000,6.000000,0.000000,2.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,-201.000000,-365.000000,-74880.000000,-383.000000,-74189.000000
25%,2.020033e+07,165.250000,3.540000e+03,11.000000,101.000000,153.000000,88.000000,140.500000,30.000000,85.000000,...,153.000000,2.439000e+03,2.354000e+03,2.354000e+03,17.000000,0.000000,0.000000,49.000000,9.000000,103.000000
50%,2.020042e+07,2102.000000,2.695600e+04,63.000000,405.500000,666.000000,178.000000,335.000000,100.000000,102.000000,...,666.000000,2.688700e+04,2.655300e+04,2.655300e+04,32.000000,2.000000,0.000000,944.000000,98.000000,1082.000000
75%,2.020051e+07,10694.500000,9.485000e+04,474.500000,1354.250000,1994.500000,631.750000,770.500000,336.000000,136.250000,...,1994.500000,1.031170e+05,1.030470e+05,1.030470e+05,46.000000,14.000000,11.000000,3538.000000,376.000000,4116.000000
max,2.020060e+07,371711.000000,1.899577e+06,64400.000000,18825.000000,89703.000000,5225.000000,1800.000000,2425.000000,355.000000,...,89703.000000,2.113777e+06,2.113777e+06,2.113777e+06,78.000000,951.000000,16373.000000,163092.000000,11571.000000,165227.000000

In [25]:
df_covid19.isnull().sum()

date                           0
state                          0
positive                      15
negative                     208
pending                     4118
hospitalizedCurrently       2491
hospitalizedCumulative      2734
inIcuCurrently              3655
inIcuCumulative             4402
onVentilatorCurrently       3860
onVentilatorCumulative      4759
recovered                   2673
dataQualityGrade            1101
lastUpdateEt                 355
hash                           0
dateChecked                    0
death                        726
hospitalized                2734
total                          0
totalTestResults               0
posNeg                         0
fips                           0
deathIncrease                 56
hospitalizedIncrease          56
negativeIncrease              56
positiveIncrease              56
totalTestResultsIncrease      56
dtype: int64

Issue and justification:<br>
1. The data type of date is int64 and needs to be returned to the correct format "%Y%m%d".<br>
2. The cell values are null and need to be replaced with average values or 0.<br>
3. The hospital column has a lot of null and unnecessary data. This column needs to be removed from the data set.<br>

In [26]:
# Create function helps to replace null values to the average value of the column
def replace_to_mean(ob,arg): 
    ob[arg].fillna(ob[arg].mean(), inplace=True)

In [39]:
replace_to_mean(df_covid19,'positive')

In [27]:
replace_to_mean(df_covid19,'negative')

In [ ]:
replace_to_mean(df_covid19,'pending')

In [29]:
replace_to_mean(df_covid19,'hospitalizedCurrently')

In [30]:
replace_to_mean(df_covid19,'hospitalizedCumulative')

In [31]:
replace_to_mean(df_covid19,'inIcuCurrently')

In [32]:
replace_to_mean(df_covid19,'inIcuCumulative')

In [33]:
replace_to_mean(df_covid19,'onVentilatorCurrently')

In [34]:
replace_to_mean(df_covid19,'onVentilatorCumulative')

In [35]:
replace_to_mean(df_covid19,'recovered')

In [36]:
replace_to_mean(df_covid19,'deathIncrease')

In [37]:
replace_to_mean(df_covid19,'hospitalizedIncrease')

In [50]:
df_covid19.isnull().sum()

date                           0
state                          0
positive                       0
negative                       0
pending                        0
hospitalizedCurrently          0
hospitalizedCumulative         0
inIcuCurrently                 0
inIcuCumulative                0
onVentilatorCurrently          0
onVentilatorCumulative         0
recovered                      0
dataQualityGrade            1101
lastUpdateEt                 355
hash                           0
dateChecked                    0
death                        726
hospitalized                2734
total                          0
totalTestResults               0
posNeg                         0
fips                           0
deathIncrease                  0
hospitalizedIncrease           0
negativeIncrease              56
positiveIncrease              56
totalTestResultsIncrease      56
dtype: int64

In [53]:
df_covid19.drop('hospitalized', axis=1, inplace=True)

In [54]:
df_covid19.nunique()

date                         132
state                         56
positive                    3315
negative                    3854
pending                      363
hospitalizedCurrently       1296
hospitalizedCumulative      1332
inIcuCurrently               637
inIcuCumulative              355
onVentilatorCurrently        442
onVentilatorCumulative        79
recovered                   1403
dataQualityGrade               6
lastUpdateEt                2147
hash                        4945
dateChecked                  132
death                       1370
total                       4172
totalTestResults            4163
posNeg                      4163
fips                          56
deathIncrease                240
hospitalizedIncrease         319
negativeIncrease            2849
positiveIncrease            1195
totalTestResultsIncrease    2934
dtype: int64

In [55]:
#Check number of NA values in df_covid19 data
print(df_covid19.isnull().sum().sum())

2350

In [20]:
df_covid19['dt']=pd.to_datetime(df_covid19.date)

In [21]:
df_covid19.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,dt
0,2020-06-01,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0,2020-06-01
1,2020-05-31,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0,2020-05-31
2,2020-05-30,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0,2020-05-30
3,2020-05-29,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0,2020-05-29
4,2020-05-28,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0,2020-05-28

In [22]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      132 non-null    datetime64[ns]
 1   states                    132 non-null    int64
 2   positive                  132 non-null    int64
 3   negative                  94 non-null     float64
 4   pending                   90 non-null     float64
 5   hospitalizedCurrently     77 non-null     float64
 6   hospitalizedCumulative    73 non-null     float64
 7   inIcuCurrently            68 non-null     float64
 8   inIcuCumulative           69 non-null     float64
 9   onVentilatorCurrently     69 non-null     float64
 10  onVentilatorCumulative    62 non-null     float64
 11  recovered                 69 non-null     float64
 12  hash                      132 non-null    object
 13  dateChecked               132 non-null    object
 14  death                     97 non-null     float64
 15  hospitalized              73 non-null     float64
 16  total                     132 non-null    int64
 17  totalTestResults          132 non-null    int64
 18  posNeg                    132 non-null    int64
 19  fips                      0 non-null      float64
 20  deathIncrease             131 non-null    float64
 21  hospitalizedIncrease      131 non-null    float64
 22  negativeIncrease          131 non-null    float64
 23  positiveIncrease          131 non-null    float64
 24  totalTestResultsIncrease  131 non-null    float64
 25  dt                        132 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(17), int64(5), object(2)
memory usage: 26.9+ KB

### Quality Issue 2:

In [56]:
#FILL IN - Inspecting the dataframe visually
df_vaccinations.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN

In [57]:
df_vaccinations.tail()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
54623,2023-05-06,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,133.0,NaN,NaN,NaN
54624,2023-05-07,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,173.0,NaN,NaN,NaN
54625,2023-05-08,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,213.0,NaN,NaN,NaN
54626,2023-05-09,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,252.0,NaN,NaN,NaN
54627,2023-05-10,Wyoming,854132.0,1281755.0,353727.0,53.15,147.58,307619.0,61.12,221.47,NaN,170.0,294.0,0.666,219773.0,37.97

In [58]:
df_vaccinations.shape

(54628, 16)

In [59]:
df_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54628 entries, 0 to 54627
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 54628 non-null  object
 1   location                             54628 non-null  object
 2   total_vaccinations                   32532 non-null  float64
 3   total_distributed                    32272 non-null  float64
 4   people_vaccinated                    32268 non-null  float64
 5   people_fully_vaccinated_per_hundred  30651 non-null  float64
 6   total_vaccinations_per_hundred       30750 non-null  float64
 7   people_fully_vaccinated              32188 non-null  float64
 8   people_vaccinated_per_hundred        30726 non-null  float64
 9   distributed_per_hundred              30730 non-null  float64
 10  daily_vaccinations_raw               28354 non-null  float64
 11  daily_vaccinations                   54563 non-null  float64
 12  daily_vaccinations_per_million       51716 non-null  float64
 13  share_doses_used                     32272 non-null  float64
 14  total_boosters                       18116 non-null  float64
 15  total_boosters_per_hundred           17254 non-null  float64
dtypes: float64(14), object(2)
memory usage: 6.7+ MB

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [ ]:
# FILL IN - Apply the cleaning strategy

In [ ]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [1]:
#FILL IN - Apply the cleaning strategy

In [2]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN